# Node.js
node_modules/
jspm_packages/
bower_components/
web_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.yarn-integrity
.npm
.node_repl_history

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock
.lock-wscript

# Testing and coverage
lib-cov/
coverage/
*.lcov
.nyc_output
.grunt

# Build output
dist/
build/
build/Release
.next/
out/
.nuxt/
.docusaurus/
.vuepress/dist/
**/.vitepress/dist/
**/.vitepress/cache/
.temp/

# Cache
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.eslintcache
.stylelintcache
.fusebox/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env.*
.env.*.local
!.env.example

# Editor specific
.vscode/*
.vscode-test/
.tern-port
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# OS specific
.DS_Store
*.pem
*~
bin/

# Database related
*.sqlite
*.sqlite3
*.db
*.dump
*.psql
*.pgsql
.dynamodb/

# Vercel
.vercel/

# Serverless
.serverless/

# Reports and diagnostics
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Packages
*.tgz

# Docker
docker-compose.override.yml

# Prisma
**/generated/prisma/

# 