@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
    --color-background: #f9fafb;
    --color-surface: #ffffff;

  --color-primary: #0070f3;
  --color-primary-dark: #3288d8;

  --color-accent1: #22d3ee;
  --color-accent2: #facc15;
  --color-accent3: #e0f2fe;

  --color-text-primary: #1f2937;
  --color-text-muted: #6b7280;

  --color-success: #10b981;
  --color-danger: #f43f5e;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-text-primary: #ededed;
    --color-text-muted: #9ca3af;
    --color-surface: #1f2937;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
}
